@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E; $naplesYellow: #F9DC5C; $teaGreen: #C2EABD; $oxfordBlue: #011936; $Charcoal: #465362;

body {
    background-color: $oxfordBlue; 
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola; transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .filter-properties, .filter-preview, .filter-code, .upload-button {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }
    .container {
        min-height: 90vh; gap: 8px; padding: 1em;
        .card, .filter-preview {            
            width: 650px; height: auto; position: relative;
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px $Charcoal;
            background-color: $teaGreen; text-align: center;

            #title {
                font-size: 15px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }
            span { cursor: default; user-select: none; }

            .filter-properties {
                flex-direction: row; 
                margin: 5px 0 auto;

                .column {
                    width: 50%; height: auto; 
                    padding: 1em 0.5rem 0.5rem 0.5rem; border: 2px solid $oxfordBlue; border-bottom: 0; 
                    background-color: $redCrayola; color: white; 

                    &:first-child { border-right: 0; border-bottom: 0; border-radius: 5px 0 0 0; }
                    &:nth-child(2) { border-radius: 0 5px 0 0; border-left: 2px dotted $oxfordBlue; border-bottom: 0; }
                    
                    .input-group {                        
                        display: flex; flex-direction: row; justify-content: center; flex-wrap: nowrap; 
                        margin-bottom: 5px; padding: 5px 0; border-bottom: 2px dotted $oxfordBlue;

                        label {      
                            width: fit-content; height: 25px;
                            font-size: 15px; border-radius: 5px !important; margin: 0 8px 0 0;
                        }   

                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        .form-range {
                            flex: 1; height: 25px; cursor: pointer;  
                        }

                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type=number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield;
                            text-align: center; font-size: 9px;
                            border: 0; margin: 0 !important; border-radius: 5px !important;
                        }  

                        input[type = color] {                             
                            width: 50px; height: 25px; 
                            border: 0; background: transparent; transition: 0.25s; cursor: pointer;
                            &:hover { scale: 1.05; }
                            &::-webkit-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                            &::-moz-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                        }

                        span { font-size: 10px; line-height: 2; }
                        
                        button {         
                            background-color: $Charcoal; padding: 5px 10px; font-size: 12px;
                            &:hover { background-color: black; }
                            i { font-size: 10px; }
                        }

                        &:last-child { border-bottom: 0; padding-bottom: 0; }

                        .drop-values { display: flex; justify-content: flex-end; align-items: center; gap: 10px; }
                    }    

                    &:last-child {
                        width: 100%;                       
                        border-top-style: dotted; border-bottom: 2px solid $oxfordBlue; border-color: $oxfordBlue; 
                        border-radius: 0 0 5px 5px; padding: 0.5rem;
                        button { width: 25%; padding: 5px 10px; }       
                    }                   
                }
            }        

            .filter-code {
                flex-wrap: nowrap;  margin-top: 10px;
                .form-floating {
                    width: 100%;
                    textarea {
                        height: 115px;
                        border: 2px solid $oxfordBlue; border-radius: 5px; cursor: copy;
                        font-size: 14px; color: $oxfordBlue;      
                        &::selection { background-color: $naplesYellow; }                  
                    } 
                    label { font-size: 14px; }
                }
                button {
                    background-color: $redCrayola;
                    margin-left: 5px; transition: 0.25s;
                    &:hover { background-color: var(--bs-btn-hover-bg); scale: 1.05; }
                }
            }
        }

        .filter-preview {          
            width: 350px; position: relative; z-index: 99;    
            
            .img-preview {
                position: relative;
                background-color: $naplesYellow; border: 2px solid $oxfordBlue;
                border-radius: 5px; padding: 1em;

                #preview { max-width: 100%; height: 300px; object-fit: contain; }
                span {
                    position: absolute; top: 0; left: 50%; transform: translateX(-50%);
                    font-size: 10px; letter-spacing: 1px; color: $oxfordBlue;
                    opacity: 0.5; user-select: none;
                }
            }           
            .upload-button {
                width: 100%;                 
                margin: 10px 0 auto; 
                #upload-img { 
                    width: 100%;
                    font-size: 12px; background-color: $Charcoal; 
                    &:active { border-color: transparent; background-color: transparent; }   
                    &:hover { background-color: #000; }
                }
            }
        }
    }
}